/*
  Snackbar

  Description:
  KWF Snackbar component.
*/

//  --------------------
//  snackbar
.snackbar {
  width: 100%;
  max-width: 480px;
  // height: $snackbar-height;
  position: fixed;
  // bottom: -($snackbar-height);
  top: 100%;
  bottom: auto;
  z-index: 200;
  background: $gray;
  color: $white;
  padding: ($base-width * 2);

  //  if show
  &.active {
    top: auto;
    bottom: 0;
  }

  p {
    margin-bottom: 0;
  }

  a {
    text-transform: uppercase;
    color: $positive;
  }
}
